@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-color: #047b54;
  height:36px;
  color:white;
  font-size:13px;
}

.footer {
  background-color: #1bba43;
  color:white;
  font-size:15px;
}

.footer-text {
  color: #047b54;;
}

.title-text {
  color: #004736;
}

.hero {
  margin-top: 50%;
  background-color: #F9BBAC;
}

.about {
  background-color: #FFF7EB;
}

.about-img {
  left: 10%;
}

.about-box {
  margin-left: 35%;
}

.product1 {
  background-color: #F4E55B;
}
